In [ ]:
!pip install docxtpl

In [ ]:
!pip install pandas

In [ ]:
!pip install datetime

In [4]:
from datetime import datetime
from docxtpl import DocxTemplate

In [41]:
# Conect your Google Drive with Colab, or can use this .ipynb in local

from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [42]:
# Define the Directory

ROOT_DIR = '/content/gdrive/MyDrive/automatization-bills'

In [43]:
# Read the template in.docx
doc = DocxTemplate("example-bills.docx")

In [44]:
# This data is for the "example-bills", response with your information.
NIT = '1036690268'
BusinessName = 'Inversores Co S.A'
Description = 'Los mejores en importar y exportar productos de Alta Calidad'
Date = datetime.today().strftime("%d/%m/%Y")
DateExpirationPay = '30 dias'

In [45]:
constantes = {"NIT": NIT, "BusinessName": BusinessName, "Description": Description, "Date": Date, "DateExpirationPay": DateExpirationPay}

In [46]:
# Verify the constantes
print(constantes)

{'NIT': '1036690268', 'BusinessName': 'Inversores Co S.A', 'Description': 'Los mejores en importar y exportar productos de Alta Calidad', 'Date': '02/03/2024', 'DateExpirationPay': '30 dias'}

In [47]:
# Verify the print
print(Date)

02/03/2024

In [48]:
# Define the directory for "data-excel.xlsx"
import pandas as pd
import os

os.chdir('/content/gdrive/MyDrive/automatization-bills')
df = pd.read_excel("data-excel.xlsx")

In [49]:
# Show the "data-excel.xlsx"
df

,Shoper,Buyer,TypeID,Identification,AddressBuyer,TelephoneBuyer,MethodPay,Location,NumberOfSell,NIT,CodeProduct,DescriptionProducts,Cant,Und,Subtotal,IVA,Total,DateExpiration,TotalFinal,IVAFinal
0,Andres Manuel,Diomedez,CC,77006438,Carrera 14-45,300 1234 123,Contado,Urb. Casas grandes,1,38242344,M-3249238,Xiaomi SX,4,1250000,5000000,0.19,5950000,30 Dias,5950000,19

In [50]:
# Complete the content with information of "data-excel.xlsx"
for indice, fila in df.iterrows():
    content = {
        'Shoper': fila ['Shoper'],
        'Buyer': fila['Buyer'],
        'TypeID': fila['TypeID'],
        'Identification': fila['Identification'],
        'AddressBuyer': fila['AddressBuyer'],
        'TelephoneBuyer': fila['TelephoneBuyer'],
        'MethodPay': fila['MethodPay'],
        'Location': fila ['Location'],
        'NumberOfSell': fila ['NumberOfSell'],
        'NIT': fila['NIT'],
         #
        'CodeProduct': fila['CodeProduct'],
        'DescriptionProducts': fila['DescriptionProducts'],
        'Cant': fila ['Cant'],
        'Und': fila ['Und'],
        #
        'Subtotal': fila['Subtotal'],
        'IVA': fila ['IVA'],
        'Total': fila ['Total'],
        'DateExpiration': fila ['DateExpiration'],
        #
        'IVAFinal': fila ['IVAFinal'],
        'TotalFinal': fila ['TotalFinal'],
        'DateExpiration': fila ['DateExpiration']
    }
    # Verify the content
    print(content)

{'Shoper': 'Andres Manuel', 'Buyer': 'Diomedez', 'TypeID': 'CC', 'Identification': 77006438, 'AddressBuyer': 'Carrera 14-45 ', 'TelephoneBuyer': '300 1234 123', 'MethodPay': 'Contado', 'Location': 'Urb. Casas grandes', 'NumberOfSell': 1, 'NIT': 38242344, 'CodeProduct': ' M-3249238', 'DescriptionProducts': 'Xiaomi SX', 'Cant': 4, 'Und': 1250000, 'Subtotal': 5000000, 'IVA': 0.19, 'Total': 5950000, 'DateExpiration': '30 Dias', 'IVAFinal': 19, 'TotalFinal': 5950000}

In [52]:
# Update the contend and we render for save the doc with the information
content.update(constantes)
doc.render(content)
doc.save(f"Factura de {fila['Buyer']}.docx")